<header class="header">
  <div class="logo">
    <a href="#" class="logo__link _icon-logo"> </a>
  </div>

  <div class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link links">Plants</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link links">Accessories</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link links">Plant Care</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link links">Blog</a>
      </li>
    </ul>
  </div>

  <div class="user">
    <ul class="user__list">
      <li class="user__item search">
        <button
          class="search__btn btn-search btn-reset _icon-ico-search"
        ></button>
      </li>
      <li class="user__item">
        <a href="#" class="user__link _icon-ico-user"> </a>
      </li>
      <li class="user__item bag">
        <a href="#" class="user__bag _icon-ico-shop-bag">
          <span class="user__product-quantity">0</span>
        </a>
      </li>
    </ul>
  </div>
</header>
