<section class="banner">
  <h1 class="banner__title">Indoor Plants</h1>
  <span class="banner__txt">with love...</span>
  <p class="banner__description">
    We help you discover the best plants for your space, delivers them to your
    door and helps you look after them.
  </p>
  <button class="banner__btn btn-reset">View catalog</button>
  <ul class="banner__list-social">
    <li class="banner__item-social">
      <a href="#" class="banner__social-link _icon-ico-fb"></a>
    </li>
    <li class="banner__item-social">
      <a href="#" class="banner__social-link _icon-ico-tw"></a>
    </li>
    <li class="banner__item-social">
      <a href="#" class="banner__social-link _icon-ico-inst"></a>
    </li>
    <li></li>
  </ul>
</section>
