<section class="category">
  <h3 class="sr-only" aria-label="links to site categories">
    links to site categories
  </h3>
  <div class="category__inner category__inner--live">
    <div class="category__img-box">
      <img
        src="./img/pages/home/live-plants.jpg"
        alt=""
        class="category__img"
      />
    </div>
    <a href="#" class="category__link">
      Live&nbsp;Plants&nbsp;<span class="_icon-ico-arrow-big"></span
    ></a>
  </div>
  <div class="category__wrap">
    <div class="category__inner category__inner--pots">
      <div class="category__img-box">
        <img
          src="./img/pages/home/pots-accessories.jpg"
          alt=""
          class="category__img"
        />
      </div>
      <a href="#" class="category__link">
        Pots&nbsp;&<br/>Accessories&nbsp;<span class="_icon-ico-arrow-big"></span
      ></a>
    </div>
    <div class="category__inner category__inner--plant">
      <div class="category__img-box">
        <img
          src="./img/pages/home/plant-care.jpg"
          alt=""
          class="category__img"
        />
      </div>
      <a href="#" class="category__link">
        Plant&nbsp;Care&nbsp;<span class="_icon-ico-arrow-big"></span
      ></a>
    </div>
  </div>
</section>
