html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Futura", "asd", sans-serif;
  background-color: #EDBA61;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--color-black);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.btn-reset {
  appearance: none;
  border-radius: 0;
  opacity: 1;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}



.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}



.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

// .js-focus-visible :focus:not(.focus-visible) {
//   outline: none;
// }

.main {
  @include wrapper();
}
