// COLORS
:root {
  --color-black: #000;
  --color-boulder: #777;
  --color-silver: #C4C4C4;
  --color-mercury: #E5E5E5;
  --color-alabaster: #F7F7F7;
  --color-fernGreen: #4E7440;
  --color-hippieGreen: #608951;
}


// burger

:root {
  --burger-width: 20px;
  --burger-hight: calc((var(--burger-lineHight)) * 6);
  --burger-lineHight: 3px;
  --burger-linetop1: 0;
  --burger-linetop2: calc((var(--burger-lineHight)) * 2);
  --burger-linetop3: calc((var(--burger-lineHight)) * 4);
}