$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$_icon-logo: "\e903";
$_icon-ico-tw: "\e904";
$_icon-ico-plus: "\e905";
$_icon-ico-minus: "\e906";
$_icon-ico-inst: "\e907";
$_icon-ico-filter: "\e908";
$_icon-ico-fb: "\e909";
$_icon-ico-cross: "\e90a";
$_icon-ico-arrow-left: "\e90b";
$_icon-ico-arrow-little: "\e90c";
$_icon-ico-arrow-right: "\e90d";
$_icon-ico-arrow-up: "\e90e";
$_icon-ico-arrow-down: "\e90f";
$_icon-ico-arrow-big: "\e910";
$_icon-ico-shop-bag: "\e901";
$_icon-ico-user: "\e902";
$_icon-ico-search: "\e900";

